<div class="hero-unit">
  <h1 class="ani-40x">401 Unauthorized.</h1>
  <h1>战火为何而燃，四零一为何而落？</h1>
  <p>天性不可夺。</p>
  <p>吾辈心中亦有惑: <a href="/idn" class="btn btn-primary btn-small"> 认证 </a></p>
  <h2>四零一为谁落？</h2>
  <p>护服务器，安代码，惩BUG！</p>
  <p>道法自然，除Error。</p>
  <h4>异常无休，而错误不息，</h4>
  <h2>吾辈何以为写代码？</h2>

  </div>