<div class="hero-unit">
	<img width="800" height="240" alt="404" src="/img/401.png"/>
    <h1>你还没有准备好！</h1>
    <p>你寻求超出你理解范围的智慧。</p>
    <p>你声称自己是键盘之主。</p>
    <h2>说得很好...但是，这毫无意义！</h2>
		<p>你只有一个选择： <a href="/idn" class="btn btn-primary btn-small"> 认证 </a> </p>
	<h2>否则就感受我四百零一年的仇恨吧！</h2>
  </div>