<div class="hero-unit">
	<img width="800" height="240" alt="404" src="/img/404.png"/>
    <h1>战火为何而燃，四零四为何而落？</h1>
    <p>天性不可夺。</p>
    <p>吾辈心中亦有惑: <a href="/" class="btn btn-primary btn-small"> 主序列 </a> <a href="#" class="btn btn-info btn-small"> 返回 </a></p>
    <h2>四零四为谁落？</h2>
	<p>护服务器，安代码，惩BUG！</p>
	<p>道法自然，除Error。</p>
	<h4>异常无休，而错误不息，</h4>
	<h2>四零四何以为落？</h2>
  </div>