  <header class="logoHeader"></header>
  <div class="hero-unit">
    <h1>关于SFEI系统</h1>
	<h4>SFEI系统创建于2009年10月。自那时起，本系统已经发展出了三代。</h4>
	<p>SFEI系统第一代（开发周期：2009年10月至2010年1月）：一个简易的Flash网站，介绍了关于SFEI的一些基本信息。</p>
	<p>SFEI系统第二代（开发周期：2011年9月至2012年6月）：这个网站亦称为一个可自定义界面的Web子系统。该网站使用Adobe Dreamweaver, jQuery 与 jQueryUI创建。</p>
	<p>SFEI系统第三代（开发周期：2012年9月至今）：该网站被设计为一个博客网站与网络应用发布平台，同时也是SFEI的私人数据库。本网站使用node.js创建，并被发布在了Cloudfoundry云计算平台上。</p>
  </div>
  <h1>应用技术：</h1>
  <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail"> <a href="http://www.jquery.com"><img class="img-rounded" src="img/JQuery_logo_color_onwhite-300x74.png" /></a>
            <div class="caption">
              <h4>jQuery</h4>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail"> <a href="http://www.nodejs.org"><img class="img-rounded" src="img/node.js.png" /></a>
            <div class="caption">
              <h4>Node.js</h4>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail"> <a href="http://twitter.github.com"><img class="img-rounded" src="img/bs-docs-twitter-github.png" /></a>
            <div class="caption">
              <h4>Twitter Bootstrap</h4>
            </div>
          </div>
        </li>
		<li class="span3">
          <div class="thumbnail"> <a href="http://www.cloudfoundry.com"><img class="img-rounded" src="img/logo_header_cloudfoundry.png" /></a>
            <div class="caption">
              <h4>Cloud Foundary</h4>
            </div>
          </div>
        </li>
      </ul>
    </div>