  <div class="hero-unit">
    <h1>欢迎， <%= accessid %></h1>
		<p><input class="input-xlarge" name="accessid" id="accessid" placeholder="您的新访问标识" value="<%= accessid %>"/></p>
		<p><a href="#" class="btn btn-primary" id="access_submit"> 保存 </a></p>
  </div>