<header class="idnlogoHeader"></header>
  <div class="hero-unit">
    <h2>申请访问权限</h2>
    <p><input class="input-xxlarge access_code" type="text" name="new_access_id" id="new_access_id" placeholder="访问标识名称"/></p>
		<p><input class="input-block-level" type="text" name="new_access_note" id="new_access_note" placeholder="表明你的意图"/></p>
		<p><input class="input-block-xlarge" type="text" name="new_access_email" id="new_access_email" placeholder="电子邮箱"/></p>
    <p><a href="javascript:void(0)" class="btn btn-primary request_submit" data-loading-text="连接中…"> 发送请求 </a></p>
  </div>
	<script type="text/javascript" src="/js/request.js"></script>