<p><span class="label label-inverse">选择您的档案图片</span></p>
<div class="row-fluid"> 
  <ul class="thumbnails"> 
    <li class="span3 profile-img-display" data-src="Abstract-Blue-Lights-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Abstract-Blue-Lights-l.jpg" alt="档案图片" >
        <div class="caption">
          <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
        </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Artistic-Flowers-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Artistic-Flowers-l.jpg" alt="档案图片" >
        <div class="caption">
          <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
        </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="black-and-white.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/black-and-white.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Black-Eagle-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Black-Eagle-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
  </ul> 
</div>
<!-- end row 1 -->
<div class="row-fluid"> 
  <ul class="thumbnails"> 
    <li class="span3 profile-img-display" data-src="Circles.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Circles.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Daft-Punk-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Daft-Punk-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Danboard-box-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Danboard-box-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Danbo-Danboard.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Danbo-Danboard.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
  </ul> 
</div>
<!-- end row 2 -->
<div class="row-fluid"> 
  <ul class="thumbnails"> 
    <li class="span3 profile-img-display" data-src="Deadmau-5-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Deadmau-5-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Desert-Ships-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Desert-Ships-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Eggs-Chickens-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Eggs-Chickens-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Fall.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Fall.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
  </ul> 
</div>
<!-- end row 3 -->
<div class="row-fluid"> 
  <ul class="thumbnails"> 
    <li class="span3 profile-img-display" data-src="Flowers-Ribbons-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Flowers-Ribbons-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Fly.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Fly.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Funny-Apples-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Funny-Apples-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Grass-Summer-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Grass-Summer-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
  </ul> 
</div>
<!-- end row 4 -->
<div class="row-fluid"> 
  <ul class="thumbnails"> 
    <li class="span3 profile-img-display" data-src="Kitter.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Kitter.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Lightsabers-Bokeh-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Lightsabers-Bokeh-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Love2.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Love2.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Mario-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Mario-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
  </ul> 
</div>
<!-- end row 5 -->
<div class="row-fluid"> 
  <ul class="thumbnails"> 
    <li class="span3 profile-img-display" data-src="Minimalistic.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Minimalistic.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Monochrome.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Monochrome.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Night-Christmas-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Night-Christmas-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Owl.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Owl.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
  </ul> 
</div>
<!-- end row 6 -->
<div class="row-fluid"> 
  <ul class="thumbnails"> 
    <li class="span3 profile-img-display" data-src="Paint-Brain-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Paint-Brain-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="prist.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/prist.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="seas.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/seas.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Stained-Glass-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Stained-Glass-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
  </ul> 
</div>
<!-- end row 7 -->
<div class="row-fluid"> 
  <ul class="thumbnails"> 
    <li class="span3 profile-img-display" data-src="Streets2.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Streets2.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="SunriseHorizon-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/SunriseHorizon-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Sunrise-Nature-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Sunrise-Nature-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Sunset-Stars-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Sunset-Stars-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
  </ul> 
</div>
<!-- end row 8 -->
<div class="row-fluid"> 
  <ul class="thumbnails"> 
    <li class="span3 profile-img-display" data-src="Ubuntu.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Ubuntu.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Window-panes-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Window-panes-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="Winter-Snow-l.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/Winter-Snow-l.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
    <li class="span3 profile-img-display" data-src="World.jpg">
      <div class="thumbnail">
        <img src="/assets/profileimg/World.jpg" alt="档案图片" >
      <div class="caption">
        <p><a href="javascript:void(0)" class="btn profile-img-select">选择</a></p>
      </div>
      </div>
    </li>
  </ul> 
</div>
<!-- end row 9 -->
<script type="text/javascript" src="/js/profile_imgselect.js"></script>