<header class="idnlogoHeader"></header>
  <div class="hero-unit authenticate">
    <h2>请提供访问代号和密码：</h2>
    <div class="control-group"><input class="input-xlarge" type="text" name="access_id" id="access_id" placeholder="访问代号:"/></div>
    <div class="control-group"><input class="input-xxlarge access_code" type="password" name="access_code" id="access_code" placeholder="访问密码:"/></div>
    <p><a href="javascript:void(0)" class="btn btn-primary access_code_submit" data-loading-text="连接中…"> 认证 </a> <a href="/idn/access/register" class="btn"> 申请访问权限 </a></p>
  </div>
</section>
<script type="text/javascript" src="/js/idn.js"></script>