<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>北极星网</title>
<link rel='shortcut icon' href="/img/favicon.ico" />
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
<link rel="stylesheet" href="/stylesheets/font-awesome.css">
<link rel='stylesheet' href='/stylesheets/common.css' />
<link rel='stylesheet' href='/stylesheets/zhcn.css' />
<script type="text/javascript" src="/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
	$(".navbar-inner>ul.nav").children("li").removeClass("active");
	$("a[href='/<%= title %>']").parent().addClass('active');
});
</script>
</head>

<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner"> <img class="brand" src="/img/logo_navbar_cn.svg" alt="SFEI Systems">
    <ul class="nav">
      <li class="active"><a href="/index">主序列</a></li>
      <li><a href="/archive">档案库</a></li>
      <li><a href="/idn">图形数据网</a></li>
      
    </ul>
    <ul class="nav pull-right">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-globe icon-white"></i>选择语言</a>
		<ul class="dropdown-menu">
          <li><a href="?lang=en">English</a></li>
          <li><a href="?lang=zh">简体中文</a></li>
        </ul>
	  </li>
      <li class="dropdown">
      	<a href="about" class="dropdown-toggle version" data-toggle="dropdown"><%= version %></a>
        <ul class="dropdown-menu">
        	<%- access %>
          <li class="divider"></li>
          <li><a href="/about">关于</a></li>
        </ul>
      </li>
    </ul>
    </div>
</header>
<div id="index-carousel" class="carousel slide">
    <div class="carousel-inner"> 
      <div class="item"> 
          <div class="carousel-body"><a href="/archive?f=Game%20Quotes"><img src="/img/carousel_gamequotes.jpg" alt="Game Quotes"></a></div> 
            <div class="carousel-caption"> 
                <h4>游戏台词摘录</h4> 
                <p>“我做一个玩家不是因为我没有人生，而是因为我选择有*很多*人生。”</p> 
            </div> 
        </div> 
        <div class="item"> 
          <div class="carousel-body"><a href="/archive/春节快乐"><img src="/img/carousel_chineseNewYear.jpg" alt="Chinese New Year"></a></div> 
            <div class="carousel-caption"> 
                <h4>春节快乐！</h4> 
                <p>Happy Chinese New Year!</p> 
            </div> 
        </div> 
        <div class="item active"> 
            <div class="carousel-body"><a href="/archive?f=天文学"><img src="/img/carousel_astronomy.jpg" alt="Astronomy"></a></div> 
            <div class="carousel-caption"> 
                <h4>天文学！</h4> 
                <p>无尽的宇宙之中有什么秘密？星河的另一侧等待人类的探索。</p> 
            </div> 
        </div> 
        <div class="item"> 
            <div class="carousel-body"><a href="/archive?f=心理学"><img src="/img/carousel_psychology.jpg" alt="pub-psychology"></a></div> 
            <div class="carousel-caption"> 
                <h4>我知道你不知道的自己在想什么</h4> 
                <p>唯有更好的认识了我们自己，我们才能更好地认识我们的宇宙。</p> 
            </div> 
        </div> 
        <div class="item"> 
            <div class="carousel-body"><a href="/archive?f=网络安全"><img src="/img/carousel_internetsecurity.jpg" alt="Internet Security"></a></div> 
            <div class="carousel-caption"> 
                <h4>暗藏危机的网络</h4> 
                <p>网络丰富了我们的生活，但却同时让我们的隐私等暴露在危险之中。我们该如何防范？</p> 
            </div> 
        </div> 
        <div class="item"> 
            <div class="carousel-body"><a href="/archive?f=诺贝尔奖"><img src="/img/carousel_nobelprize.jpg" alt="Nobel Prize"></a></div> 
            <div class="carousel-caption"> 
                <h4>诺贝尔奖</h4> 
                <p>这个星球上给他们的领域做出杰出贡献的人类！</p> 
            </div> 
        </div> 
        <div class="item"> 
            <div class="carousel-body"><a href="/about"><img src="/img/carousel_sys.jpg" alt="SFEI Systems"></a></div> 
            <div class="carousel-caption"> 
                <h4>欢迎访问北极星网。</h4> 
                <p>北极星网是一个科普博客网站，用户可以阅读和撰写相关博客，也可以与博客作者及其他用户进行交互。</p> 
            </div> 
        </div> 
        <div class="item"> 
            <div class="carousel-body"><a href="/archive" class="img"><img src="/img/carousel_archive.jpg" alt="SFEI Systems"></a></div> 
            <div class="carousel-caption"> 
                <h4><a href="/archive">访问我们的档案库。</a></h4> 
                <p>查看本网站的用户的博客。</p> 
            </div> 
        </div> 
        <div class="item"> 
            <div class="carousel-body"><a href="/idn"><img src="/img/carousel_idn.jpg" alt="SFEI Systems"></a></div> 
            <div class="carousel-caption"> 
                <h4><a href="/idn">认证</a>以访问图形数据网。</h4> 
                <p>成为本网站的注册用户，使用更多功能！</p> 
            </div> 
        </div> 
    </div>
    <a class="left carousel-control" href="#index-carousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#index-carousel" data-slide="next">›</a>
</div>
<div class="container">
  <%- body %>
  <footer class="well well-small">
    <h6>&copy; SFEI 2012.</h6>
  </footer>
</div>
<!-- end container --> 
<div class="back-to-top" data-spy="affix" data-offset-top="80">
  <a href="javascript:void(0);"><i class="icon-upload"></i></a>
</div>
</body>
</html>
