<div>
  <span class="label">Server status</span>
  <blockquote>mongourl:<br> <%= info.mongourl %></blockquote>
</div>
<div class="admin-tags-management">
  <span class="label">Tags management</span>
  <div>
    
  </div>
</div>
<script src="/js/admin.js"></script>