<div class="hero-unit">
  <h1 class="ani-40x">401 Unauthorized.</h1>
  <h2>To ask why we return 401,</h2>
  <p>is to ask why the leaves fall.</p>
  <h3>It is in their nature...</h3>
  <p>Perhaps there is a better option <a href="/idn" class="btn btn-primary btn-small"> Authenticate </a></p>
  <h2>Why do we return 401?</h2>
  <p>To protect code, and server.</p>
  <p>To preserve stability, and bring new features.</p>
  <h4>For our website, the true question is,</h4>
  <h2>What is worth 401 for?</h2>
  </div>