<div class="hero-unit">
	<img width="800" height="240" alt="404" src="/img/401.png"/>
    <h1>You are not Prepared.</h1>
    <p>You seek the knowledge beyond your comprehension.</p>
    <p>You claim to be the master of your keyboard.</p>
    <h2>Boldly said. But I remain...unconvinced.</h2>
		<p>So, either you... <a href="/idn" class="btn btn-primary btn-small"> Authenticate </a> </p>
	<h2>Or you shall taste the wrath of <strong>401</strong> years.</h2>
  </div>