<div class="hero-unit">
    <img class="pull-right" src="/img/404-yoda.png" alt="Master Yoda">
    <h1>Code 404 I sense.</h1>
    <h2>Not the what you are looking for this page is.</h2>
    <p>Go back to <a href="/">Main Sequence</a> you can try.</p>
  </div>