  <header class="logoHeader"></header>
  <div class="hero-unit">
    <h1>About SFEI Systems</h1>
	<h4>The SFEI Systems Project was formed in Oct 2009. Since then three generations of SFEI Systems have been built(or is being built).</h4>
	<p>SFEI Systems 1st Generation (Oct 2009 - Jan 2010): It's a website which anchors an introduction to SFEI. It was built using Adobe Flash.</p>
	<p>SFEI Systems 2nd Generation (Sept 2011 - Jun 2012): This website was also known as a costomizable web subsystem. It was built using Adobe Dreamweaver, jQuery and jQuery UI.</p>
	<p>SFEI Systems 3rd Generation (Sept 2012 - ): This website is designed to be an anchor to SFEI's blogs and web applications. Also a private database containing SFEI's contacts, events and documents. It is built with Adobe Dreamweaver, jQuery, Twitter bootstrap, and node.js.</p>
  </div>
  <h1>Powered by:</h1>
  <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail"> <a href="http://www.jquery.com"><img class="img-rounded" src="img/JQuery_logo_color_onwhite-300x74.png" /></a>
            <div class="caption">
              <h4>jQuery</h4>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail"> <a href="http://www.nodejs.org"><img class="img-rounded" src="img/node.js.png" /></a>
            <div class="caption">
              <h4>Node.js</h4>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail"> <a href="http://twitter.github.com"><img class="img-rounded" src="img/bs-docs-twitter-github.png" /></a>
            <div class="caption">
              <h4>Twitter Bootstrap</h4>
            </div>
          </div>
        </li>
		<li class="span3">
          <div class="thumbnail"> <a href="http://www.cloudfoundry.com"><img class="img-rounded" src="img/logo_header_cloudfoundry.png" /></a>
            <div class="caption">
              <h4>Cloud Foundary</h4>
            </div>
          </div>
        </li>
      </ul>
    </div>
		<h1>Changelog</h1>