<span class="label label-info">Recent entries</span>
<section class="blogsArchive">
<article id="preferences">

    <div class="accordion-group" id="pref_accordion">
        <div class="accordion-heading">
            <a class="accordion-toggle get_tags" data-parent="#pref_accordion" href="javascript:void(0)">
                Preferences
            </a>
        </div>
        <div id="filters" class="accordion-body collapse">
            <div class="accordion-inner">
                <span class="label label-inverse">Filters</span>
                <div class="filter_checkboxes row-fluid">
                    
                </div>
                <a href="javascript:void(0)" class="btn filter_apply clearfix">Apply</a>
            </div>
        </div>
    </div>

</article>
<%- content %>
</section>
<script type="text/javascript" src="/js/filter.js"></script>