  <div class="row-fluid">
      <p><span class="label label-info">Blogs Archive - New Entry</span><a class="btn btn-info btn-small pull-right" href="javascript:window.history.back()"><i class="icon-circle-arrow-left icon-white"></i> Return </a></p>
    </div>
  <section class="blogsArchive">
    
    <article>
      <header>
        <input class="input-xxlarge" type="text" name="entrytitle" id="entrytitle" placeholder="Enter blog title here"/>
				<div class="accesslevel_div input-append">
					<input class="span2" type="text" name="accesslevel" id="accesslevel" placeholder="Access level"/>
					<div class="btn-group">
						<button class="btn dropdown-toggle add_exceptions" data-toggle="dropdown"> Exceptions <span class="caret"></span></button>
						<ul class="exceptions_menu dropdown-menu">
							<li><a href="javascript:void(0)"><i class="icon-loading"></i> Loading... </a></li>
						</ul>
					</div>
				</div>
				<div class="input-append">
					<input class="span3" type="text" name="tags" id="tags" placeholder="Tags"/>
					<div class="btn-group">
						<button class="btn dropdown-toggle get_tags_dropdown" data-toggle="dropdown"><span class="caret"></span></button>
						<ul class="tags_menu dropdown-menu">
							<li><a href="javascript:void(0)"><i class="icon-loading"></i> Loading... </a></li>
						</ul>
					</div>
				</div>
		<input class="input-block-level" type="text" name="abstract" id="abstract" placeholder="Enter blog abstract here"/>
      </header>
      <div class="row-fluid">
        <div class="span6 offset3 loading_info">
          <h4><img src="/img/squareajax_30.gif" alt="loading">Loading editor, please standby....</h4>
        </div>
        <div class="mdeditor span12" style="display:none;">
          <h1>Hello Editor!</h1>
          <p>Input your content here...</p>
        </div>
      </div>
      <div class="row-fluid">
        <textarea class="span12 mdeditor-source">
          
        </textarea>
      </div>
			<div class="alert alert-block alert-error fade in">
			<a class="close" data-dismiss="alert" href="#">&times;</a>
				<h4 id="alert_head"></h4>
				<p id="alert_info"></p>
			</div>
			<div class="btn-group">
				<a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" data-loading-text="Posting..." href="#"> Save as.. <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="javascript:void(0)" class="new_blog_submit" data-lang="en"> English </a></li>
					<li><a href="javascript:void(0)" class="new_blog_submit" data-lang="zh"> 简体中文 </a></li>
				</ul>
			</div>
    </article>
  </section>
  <script type="text/javascript" src="/js/hallo/jquery-ui-1.10.1.custom.js"></script>
  <script type="text/javascript" src="/js/hallo/rangy-core-1.2.3.js"></script>
  <script type="text/javascript" src="/js/hallo/hallo.js"></script>
  <script type="text/javascript" src="/js/hallo/showdown.js"></script>
  <script type="text/javascript" src="/js/hallo/to-markdown.js"></script>
	<script type="text/javascript" src="/js/archive_new.js"></script>
  <script type="text/javascript" src="/js/filter.js"></script>