<header class="idnlogoHeader"></header>
  <div class="hero-unit">
    <h2>Access ID Registration</h2>
    <div class="control-group"><input class="input-xxlarge access_code" type="text" name="new_access_id" id="new_access_id" placeholder="Enter your identification"/></div>
		<div class="control-group"><input class="input-xlarge" type="password" name="new_access_password" id="new_access_password" placeholder="Enter your password"/></div>
    <div class="control-group"><input class="input-xlarge" type="password" name="new_access_password_rp" id="new_access_password_rp" placeholder="Repeat your password"/></div>
		<div class="control-group"><input class="input-xxlarge" type="text" name="new_access_email" id="new_access_email" placeholder="Enter your email address here"/></div>
    <div class="control-group"><a href="javascript:void(0)" class="btn btn-primary register_submit" data-loading-text="Connecting..."> Confirm Information </a></div>
  </div>
	<script type="text/javascript" src="/js/register.js"></script>