<header class="idnlogoHeader"></header>
  <div class="hero-unit">
    <h2>Congratulations.</h2>
		<h3>Your request has been successfully submitted.</h3>
		<p>You have been granted an elementary access id. Use the name and password you submitted just now to <a href="/idn">authenticate.</a></p>
  </div>