  <header class="idnlogoHeader"></header>
<div class="row-fluid">
  <div class="span4 offset4 authenticate">
    <h2>Submit Access Code:</h2>
    <div class="control-group"> <input class="input-block-level" type="text" name="access_id" id="access_id" placeholder="Access ID:"/></div>
    <div class="control-group"> <input class="input-block-level access_code" type="password" name="access_code" id="access_code" placeholder="Access Code:"/></div>
    <p> <a href="/idn/access/register" class="btn"> Request Clearance </a> <a href="javascript:void(0)" class="btn btn-primary access_code_submit pull-right" data-loading-text="Connecting..."> Authenticate </a></p>
  </div>
</div>
<script type="text/javascript" src="/js/idn.js"></script>