<header class="idnlogoHeader"></header>
  <div class="hero-unit">
    <h2>Congratulations.</h2>
		<h3>Your request has been successfully submitted.</h3>
		<p>Now your request is being processed. Please refer to the email you will receive shortly for your access code.</p>
  </div>