<section class="blogsArchive auto-fetch" data-tags="Featured">
  <div class="row-fluid">
    <p><span class="label label-info">Featured</span><a href="/archive?f=Featured" class="btn btn-mini pull-right">More..</a></p>
    <ul class="thumbnails">
      <li><img src="/img/squareajax_30.gif" alt="loading" /></li>
    </ul>
  </div>
</section>
<section class="blogsArchive auto-fetch" data-tags="all">
  <div class="row-fluid">
    <p><span class="label label-info">Blogs Archive</span><a href="/archive" class="btn btn-mini pull-right">More..</a></p>
    <ul class="thumbnails">
      <li><img src="/img/squareajax_30.gif" alt="loading" /></li>
    </ul>
  </div>
</section>
<script type="text/javascript" src="/js/fetcher.js"></script>