  <section class="blogsArchive">
    <div class="row-fluid">
      <p><span class="label label-info">Blogs Archive</span><a href="/archive" class="btn btn-mini pull-right">More..</a></p>
    </div>
    <div class="row-fluid">
      <ul class="thumbnails">
        <%- archive_content %>
      </ul>
    </div>
  </section>
  <section class="blogsArchive sec_astronomy">
    <div class="row-fluid">
      <p><span class="label label-info">Astronomy</span><a href="/archive?f=天文学" class="btn btn-mini pull-right">More..</a></p>
      <ul class="thumbnails">
        <li><img src="/img/squareajax_30.gif" alt="loading" /></li>
      </ul>
    </div>
  </section>
  
  <section class="blogsArchive sec_psychology">
    <div class="row-fluid">
      <p><span class="label label-info">Psychology</span><a href="/archive?f=心理学" class="btn btn-mini pull-right">More..</a></p>
      <ul class="thumbnails">
        <li><img src="/img/squareajax_30.gif" alt="loading" /></li>
      </ul>
    </div>
  </section>
  
  <section class="blogsArchive sec_internetsecurity">
    <div class="row-fluid">
      <p><span class="label label-info">Internet Security</span><a href="/archive?f=网络安全" class="btn btn-mini pull-right">More..</a></p>
      <ul class="thumbnails">
        <li><img src="/img/squareajax_30.gif" alt="loading" /></li>
      </ul>
    </div>
  </section>
  
  <section class="blogsArchive sec_nobelprize">
    <div class="row-fluid">
      <p><span class="label label-info">Nobel Prize</span><a href="/archive?f=诺贝尔奖" class="btn btn-mini pull-right">More..</a></p>
      <ul class="thumbnails">
        <li><img src="/img/squareajax_30.gif" alt="loading" /></li>
      </ul>
    </div>
  </section>
  <script type="text/javascript" src="/js/fetcher.js"></script>